!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Junge', type='text/css')
      link(rel='stylesheet', href='/css/github.css')
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='http://yandex.st/highlightjs/7.3/styles/github.min.css')
      script(src='http://yandex.st/highlightjs/7.3/highlight.min.js')
      script
        hljs.initHighlightingOnLoad();

  body
    header
      div.inner
        block header
          h1
            a(href=locals.url)= locals.name
          p Writings about&nbsp
            a.underline(href='https://github.com/gadr90', target='_blank') software
            | &nbspand life.
    div#content
      block content
        h2 Welcome to zombocom!
    footer
      div.inner
        block footer
          p &copy; #{ new Date().getFullYear() } #{ locals.owner }

    script(type='text/javascript')
      (function(d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.min.js';
        s.parentNode.insertBefore(g, s);
      }(document, 'script'));
      (function(){ 
        var links = document.links;
        for (var i = 0, linksLength = links.length; i < linksLength; i++) {
           if (links[i].hostname != window.location.hostname) {
               links[i].target = '_blank';
           }
        } 
      })();
